<!--ホーム表示 機能説明とか？-->
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="home">
    <div class="home_top">
      <img src="/assets/Tiger_icon.png" class="tiger">
      <h1>Tragram</h1>
      <img src="/assets/Tiger_icon.png" class="tiger">
      <p class="home_caption">旅行を写真ベースで記録しよう</p>
    </div>
    <div class="home_howto">
      <div class="howto_caption">
        <h5><i class="fa-solid fa-lightbulb"></i>　Easy 3 Steps　<i class="fa-solid fa-lightbulb"></i></h5>
        <p><i class="fa-solid fa-file-lines"></i>　旅行ページを作成</p>
        <p><i class="fa-solid fa-user-plus"></i>　チームのメンバーを招待</p>
        <p><i class="fa-solid fa-pen-to-square"></i>　旅行ページ内に投稿を作成</p>
      </div>
    </div>
    <%= link_to "instagram", controller: 'instagram_auth', action: 'index'%>
  </body>
</html>
