<h1>Home#index</h1>
<!--ホーム表示 機能説明とか？-->
<html>
  <head>
  </head>
  <body>
    <h1>Tragram</h1>
    <p>Find me in app/views/home/index.html.erb</p>
    <%= link_to "instagram", controller: 'instagram_auth', action: 'auth'%>
  </body>
</html>
