<h1>your instagram posts</h1>
<!--image表示-->
<% if logged_in? %>

<form method="get" action="/posts/<%= @post_id %>/insert_image">
  <ul><% @albums.each do |album| %>
      <ul id="album"><% album.each do |media| %>
      <input type="checkbox" name = "media[]" value = <%= media['url'] + "," + media['media_type'] + "," + media['id'] %>>
      <li><label for="media">

      <% if media['media_type'] == 'IMAGE' then %>
        <img src=<%= media['url'] %> height="200">
      <% else %>
        <video controls name="media" height="200">
        <source src=<%= media['url'] %> type="video/mp4">
        </video>
      <% end %>

      </label></li>
      </input>
    <% end %></ul>
  <% end %></ul>

  <input type="submit" value="画像を使う"/>
</form>

<style>
  ul#album{
    display: flex;
    justify-content: center;
  }

  li {
    list-style: none;
  }
</style>


<% end %>
