<h1>post一覧</h1>
<%= link_to 'Create Post', new_post_path(project_id: params[:id]) %>
<% @posts.each do |post| %>
    <div>
      <%= post.caption %>
    </div>
    <%= link_to 'Destroy Post', post_path(post.id), :method => :delete, data: {confirm: "削除しますか？"} %>
    <%= link_to 'Edit Post', edit_post_path(post.id) %>
<% end %>