// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div.home_top {
  display: block;
  margin-top: 8rem;
  padding-top: 90px;
  text-align: center;
  height: 500px;

  h1 {
    font-size: 100px;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Raleway', sans-serif;
  }
}

.tiger {
  width: 100px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px 0 20px;
}

p.home_caption {
  margin-top: 20px;
  font-size: larger;
}

div.home_howto {
  height: 500px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.howto_caption {
  color: white;
  text-align: center;

  p {
    margin: 50px 0;
  }
}