.header {
  padding: 20px 10rem 0 10rem;
  margin-bottom: 3rem;
}

.btns {
  text-align: center;
}

.btn {
  color: gray;
}

.img {
  width: 500px;
}

.notifications {
  text-align: center;
}

#place-list {
  text-align: center;

  .loc_set {
    background-color: gray;
    color: white;
    margin: 0 auto;
  }
}