.header {
  padding: 20px 10rem 0 10rem;
  margin-bottom: 3rem;
}

.btns {
  text-align: center;
}

.btn {
  color: gray;
}

.img {
  width: 500px;
}

.notifications {
  text-align: center;
}

#place-list {
  text-align: center;

  .loc_set {
    background-color: gray;
    color: white;
    margin: 0 auto;
  }
}

div.post_body {
  width: 70%;
  margin: 0 auto;

  div.post_image {
    margin-bottom: 20px;
  }

  img {
    width: 20rem;
    margin: 10px 0;
  }
}

.post_edit_form {
  text-align: center;
  margin-top: 30px;

  label {
    margin-top: 2rem;
  }

  input[type="text"],
  textarea {
    width: 50rem;
  }

  textarea {
    height: 30rem;
    margin-bottom: 1rem;
  }

  .btn {
    background-color: gray;
    color: white;
  }
}