.header {
  padding: 20px 10rem 0 10rem;
  margin-bottom: 3rem;
}

a {
  color: gray;
  text-decoration: none;

}


.caption {
  text-align: center;

}

.project_btns {
  text-align: center;
}

.create_post {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.invitation {
  display: flex;
  justify-content: center;
}

.card-img-top {
  width: 18rem;
  height: 18rem;
  object-fit: cover;
}

.card.post_card {
  float: left;
  margin-left: 3rem;
  margin-bottom: 3rem;
}

.info_btn,
.create_btn {
  background-color: gray;
  color: white;
}