h1 {
  text-align: center;
}

.project_container {
  text-align: center;
}

.project_all {
  margin: 0 auto;
  width: 44rem;
  display: inline-block;
}

.project {
  float: left;
  height: 10rem;
  margin: 2rem;
}

.project_name {
  font-size: 30px;

}

.project_caption {
  font-size: 15px;
}


.create_form_container {
  display: block;
  clear: both;
  padding-bottom: 2rem;
}


.create_form_child {
  text-align: center;
  border: solid 1px gray;
  border-radius: 5px;
  padding: 20px;
  width: 36rem;
  margin: 0 auto
}


.card-img {
  height: 10rem;
  width: 18rem;
  object-fit: cover;
}

.card-img-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  text-align: left;
  color: white;
  height: 10rem;
  width: 17.9rem;
}

.card-title.project_card_title {
  color: white;
  font-size: 25px;
}